body {
    padding: 0;
    margin: 0;
    font-size: 5vw;
}

html, #root, #root>div {
    height: 100% !important;
}

@media only screen and (min-width: 480px) {
    body {
        font-size: 23px;
    }
}
